

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
/*Navbar*/

.navbar{
    display: flex;
    align-items: center; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 2;
}

.navbar > .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand img{
    max-width: 160px;
}

 .navbar-nav{
    margin-left: auto;
}

.navbar-nav  ul {
    display: flex;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    
}

.navbar-nav li {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.navbar-nav{
    display: flex;
}

.navbar-nav .menu{
   margin-right: 300px;
}

.navbar-nav li a{
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    font-size: 12px;
    opacity: .6;
    letter-spacing: .5px;
    transition: opacity .3 ease;
    text-decoration: none;
}

.navbar-nav li a:hover{
    columns: #fff;
    opacity: 1;
    text-decoration: none;
}

/*hover menu*/

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 3px;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(52, 52, 52);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
/* bloc*/


    .block {
        position: static;
        display: flex;
        align-items: center;
        min-height: 55vh;
        padding-top: 100px;
        padding-bottom: 80px;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin-top: 110px;
    
}

.title{
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 95px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

/* service*/

.service{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.srevice-page{
    display: flex;
    margin: auto;
    margin-top: 110px;
    text-align: center;
}

.srevice-page .text{
    margin: auto;
}

p{
    text-align: left;
    width: 500px;
}
/* buttons*/

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 110px;
    border: none;
    border-radius: 5px;
    padding: 5px 35px;
    transition: 0.1s linear;
    background-color: #004838;
    color: rgb(181, 181, 181);
    letter-spacing: .5px;
    text-transform: uppercase;
    font-size: 8px;
}



button:hover{
    background-color: #007a53d7;
    transform: translate3d(0, -2px, 0);
}

/* Costumer Storis */

.Costumers{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 110px;

}
.Costumers h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 170px;
    text-decoration: underline;
}

.leb{
    text-align: center;
    width: auto;
}
.profile{
    display: flex;
}

.profile>div{
    width: 300px;
    margin: auto;
    text-align: center;
    border-style: ridge;
    border-radius: 8px;

}
.prf{
    max-width: 160px;
    margin: auto;
    text-align: center;
    margin-top: -90px;
}

.img-photo{
    max-width: 300px;
    border-radius: 8px;
}

.btn-prf{
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-btn {
    margin-left: 39%;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 55px;
}
.btn{
    width: 350px;
    height: 55px;
}

/* footer */

.footer{
    max-width: 100%;
    border-top: 1px solid grey;
    margin: auto;
}
.footer .container {
    width: 900px;
}
.block-foot{
    display: flex;
    margin-top: 130px;
    margin-bottom: 100px;
}

.block-foot div{
    margin: auto;
    display: flex;
}

.fut1 h1 {
    display: inline;
    text-align: center;
    margin: 0;
    margin-top: -30px;
    margin-right: -140px;
}

.fut1 li{
    list-style: none;
}

.icon{
    max-width: 700px;
    margin: auto;
}
.icon .container{
    width: 700px;
    margin-left: -70px;
}

 .icon-icon{
    display: flex;
    margin-left: 240px;
}

.icon-icon ul{
    display: flex;
    margin: auto;
    margin-left: -0px;
    padding-right: -15px;
    list-style: none;
}
.icon-icon li{
    padding-left: 15px;
    padding-right: 15px;
}






@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    body {
        background-color: red;
    }
}